section.mistery{
  & > div{
    height: 400px;
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    margin-block: 96px 80px;

    
   &:hover > img{
    animation: mistery 2s ease;
  
   }
    
    & h2{
      max-width: 1136px;
      font: var(--subtitle);
      color: var(--text-body);
      text-align: center;

      & span{
        font: bold 32px/2 var(--ff-base);
        color: var(--blue-light);
      }
    }

    & img{
      position: absolute;
      opacity: 0;

      width: 80px;
      height: 80px;
     
      
      
      transition: transform 150ms linear, scale 150ms linear;
   
    }
    
    & .img-1{
      top: 10%;
      transform: rotate(20deg);
      
      

      &:hover{
        
        scale: 1.1;
        transform: rotate(30deg);
      }
    }

    & .img-2{
      bottom: 10%;
      left: 10%;
      transform: rotate(100deg);
     
      &:hover{
        scale: 1.1;
        transform: rotate(120deg);
      }
    }

    & .img-3{
      bottom: 10%;
      right: 10%;
      transform: rotate(-20deg);
     
      &:hover{
        scale: 1.1;
        transform: rotate(-2deg);
      }
    }

  }
}

@keyframes mistery{
  to {
  opacity: 1;
  
  }
  
}